<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <table>
        <tr>
            <td>
                Number of tweets:
                <input  form="tw" type="number" id="quantity" name="quantity" min="1" max="500" placeholder="1-500" required>
            </td>
        </tr>
        <tr>
            <td>
                <form id='tw' method='POST'>
                    query:
                    <input type='text' name='search_query' placeholder="" required>

                </form>
            </td>
        </tr>
        <tr>
            <td align="center">
                <input form="tw" type='submit' value='Get Sentiment'>
            </td>
        </tr>
    </table>
</body>
</html>